/****************************
 * OBJECTS - WRAPPERS
 ****************************/

body {
    font-family: $fontDefault;
}

.appContainer {
    text-align: center;
}
.appContainer__Title {
    font-size: 24px;
}
