/*------------------------------------*\
  SETTINGS-COLORS
\*------------------------------------*/

/*
  * Primary colors
  */
$primaryBackground: #81D0AE;
$primaryText: #09A25F;



/*
  * Black and white
  */
$black: #000;
$white: #fff;

